* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: linear-gradient(#99f, #f99);
}

body, .navbar, .navbar ul {
    /*弹性布局 统一写*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    position: relative;
    padding: 20px;
    border-radius: 90px;
    background-color: white;
}

.navbar input {
    width: 40px;
    height: 40px;
    opacity: 0;
    cursor: pointer;
}

.navbar span {
    position: absolute;
    left: 25px;
    top: calc(50% - 10px);
    width: 30px;
    height: 4px;
    border-radius: 15px;
    background-color: #9999ff;
    pointer-events: none;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out 0.3s;


}

/*单独设置第二条线的位置*/
.navbar span:nth-child(3) {
    top: calc(50% + 6px);
}

.navbar ul {
    width: 0;
    overflow: hidden;
    transition: all 0.5s;
    /*文字显示一行*/
    white-space: nowrap;

}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: #333;
    padding: 15px;
}

.navbar ul li a:hover {
    color: #ff105e;
}

.navbar input:checked ~ ul {
    width: 400px;
}

.navbar input:checked ~ span {
    transition: top 0.3s ease-in-out, transform 0.3s ease-in-out 0.3s;

}

.navbar input:checked ~ span:nth-child(2) {
    top: calc(50% - 2px);
    transform: rotate(45deg);
    background-color: red;
}

.navbar input:checked ~ span:nth-child(3) {
    top: calc(50% - 2px);
    transform: rotate(-45deg);
    background-color: red;
}