* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: '微软雅黑', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #0d0f00;
    overflow: hidden;
}

ul {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul li {
    list-style: none;
    height: 100%;
    width: 80px;
}

ul li a {
    position: relative;
    display: inline-block;
    padding: 6px 20px;
    text-decoration: none;
    background-color: #2196f3;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    overflow: hidden;
    transition: 0.5s;
    z-index: 3;
}

ul:hover li a {
    opacity: 0;
}

ul li::before{
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 6em;
    font-weight: 700;
    pointer-events: none;
    letter-spacing: 20px;
    opacity: 0;
    transition: 0.5s;
    white-space: nowrap;
}

ul li:hover:before{
    opacity: 0.9;
    letter-spacing: 0;
}

ul li a:hover {
    transform: scale(1.4);
    z-index: 100;
    background-color: #f3b5;
    opacity: 1;

}

ul li a::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100px;
    width: 80%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.8), transparent);
    transform: skew(35deg);
}


ul li a:hover:before {
    left: calc(100% + 100px);
    transition: 0.5s;
    transition-delay: 0.4s;
}